src/main/resources/META-INF/spring-test.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.lexueba.com/schema/user123"
        xmlns:tns="http://www.lexueba.com/schema/user123"
        elementFormDefault="qualified">

    <element name="user123">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="userName" type="string"/>
            <attribute name="email" type="string"/>
        </complexType>
    </element>
</schema>